.form-container {
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    color: white;
}
.form-container h2 {
    margin-bottom: 15px;
}
.form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.image-preview-container {
    background-color: #3b4b5e;
    width: 45%;
    min-height: 300px;
    margin-left: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    display: none;
}

/* LoRA fieldset */
fieldset.lora-fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

fieldset.lora-fieldset .lora-submit {
  display: flex;
  align-items: center;
  margin: 0;
}

fieldset.lora-fieldset .lora-name {
  min-width: 120px;
  margin-right: 8px;
}

fieldset.lora-fieldset .lora-value input {
  width: 50px !important;
  padding: 3px !important;
  margin: 0 !important;
}
