{% macro slider_field(field) %}
    <label for="{{ field.id }}">{{ field.label.text }}: <span id="{{ field.id }}-val">{{ field.data or 0 }}</span></label>
    <input type="range" class="slider-input" id="{{ field.id }}" name="{{ field.name }}"
           min="0" max="1.5" step="0.1" value="{{ field.data or 0 }}" data-target="{{ field.id }}-val">
    <br>
{% endmacro %}

{% macro lora_toggle(name, icon_src=None) %}
    <div class="lora-box" data-lora="{{ name }}">
        <span class="lora-label">{{ name }}</span>
        {% if icon_src is not none %}
            <img src="{{ icon_src }}">
        {% else %}
            {% set icon_path = name.lower().replace(' ', '-') + '.png' %}
            <img src="/static/icons/{{ icon_path }}"
                 onerror="this.src='/static/icons/missing.png'">
        {% endif %}
        <div class="lora-value" onclick="event.stopPropagation()">
            <input type="number" value="0.7" min="0" max="2" step="0.1"
                   data-lora-field="{{ name }}" class="value-input">
        </div>
    </div>
{% endmacro %}