<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="gallery">Gallery</a>
        <a href="submit/new">Submit</a>
    </div>
    <div class="container">
        <h1>Welcome to the Image Platform</h1>
        <a href="gallery" class="link-button">Go to Gallery</a>
        <a href="submit/new" class="link-button">Submit an Image</a>
    </div>
</body>
</html>
