<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/submit.css">

</head>
<body>
{# Macros #}
    {% from "_macros.html" import slider_field %}
    {% from "_macros.html" import lora_submit %}

{# Form #}
    <form method="POST" action="{{ url_for('post_submit') }}" target="_blank">
        {{ form.hidden_tag() }}

    <fieldset>
        <legend>Data Sets</legend>
        {{ form.data_sets(size=3, multiple=True) }}
    </fieldset>


        <fieldset>
            <legend>Basic Info</legend>
            <label for="image-url">Image URL:</label>
            <input type="url" id="image-url" name="url" oninput="updatePreview(this.value)">
            <img id="preview" src="">

            {{ form.model.label }} {{ form.model() }}<br>
            {{ form.prompt.label }} {{ form.prompt() }}<br>

        </fieldset>

        <fieldset>
    <legend>Tags</legend>
    <div class="tag-container">
        <div class="tag-input">
            <input type="text" id="tag-input" placeholder="Add a tag...">
            <button type="button" id="add-tag">+</button>
        </div>
        <div class="tags-list" id="tags-list">
            {% for tag in form.tags %}
                {% if tag.data %}
                    <span class="tag-item">
                        {{ tag.data }}
                        <input type="hidden" name="tags-{{ loop.index0 }}" value="{{ tag.data }}">
                        <span class="remove-tag">×</span>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</fieldset>

<fieldset class="lora-fieldset">
    <legend>LoRA
        <button type="button" id="add-lora" class="add-button">+ Add Custom LoRA</button>
    </legend>

    <div id="lora-container">
        {{ lora_submit(form.dmd2) }}
        {{ lora_submit(form.lcm) }}
        {{ lora_submit(form.bold_outlines) }}
        {{ lora_submit(form.vivid_edge) }}
        {{ lora_submit(form.vivid_soft) }}
        {{ lora_submit(form.cartoony) }}

        <div id="dynamic-lora-container"></div>
    </div>
</fieldset>

        <fieldset class="sampling-parameters">
            <legend>Sampling</legend>
            {{ form.sampling_method.label }} {{ form.sampling_method() }}<br>
            {{ form.sampling_steps.label }} {{ form.sampling_steps() }}<br>
            {{ form.cfg_scale.label }} {{ form.cfg_scale() }}<br>
        </fieldset>

        {{ form.submit() }}
    </form>

{# Script #}
    <script src="{{ url_for('static', filename='js/img_preview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lora.js') }}"></script>
</body>
</html>